html, body {
    overflow-x: hidden;
}

.logo {
    background: #ffc565;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 4px;
}

.logo div {
    font-family: Roboto;
    font-size: 2em;
    text-transform: uppercase;
}

header .button-header .custom-btn.login {
    background: #FFF;
}

header .button-header .custom-btn.login:hover {
    background: #FFF;
    color: #0f0f0f;
}

header .button-header .custom-btn.signup {
    background: #FFC565;
}

header .button-header .custom-btn.signup:hover {
    background: #FFC565;
    color: #0f0f0f;
    margin-top: -10px;
}

.custom-btn {
    background: #FFC565;
    color: #0f0f0f !important;
    font-family: Roboto !important;
    transition: 0.1s linear all !important;
}

.custom-btn:hover {
    transform: translateY(-2.5px) !important;
}

header .menu li:before {
    background: #FFC565;
    width: 50%;
}

.base-slider .custom-btn:hover {
    transition: 0.1s linear all;
}

.base-slider .custom-btn:hover {
    transform: translateY(-2.5px);
}

.why-choose .inside a {
    font-family: Roboto;
    font-weight: bold;
}

.copyright p {
    color: #c0dbf4;
    text-align: center;
}

.base-slider {
    height: 800px;
    position: relative;
}

.base-slider .inside {
    width: 60%;
}

.base-slider h2 {
    font-family: Roboto;
}

.base-slider p {
    color: rgb(209, 207, 219);
    text-transform: none;
    font-family: Roboto;
    font-size: 17px;
}

.base-slider .stripe {
    z-index: 0;
}

.base-slider .custom-btn {
    background: #FFC565;
    color: #0f0f0f;
    font-family: Roboto;
}

.stripe {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: skewY(-12deg);
    transform-origin: 0;
    /* background: linear-gradient(150deg, #121212 0%, #191919 100%); */
    background: #121212;
}

.wrapper {
    background: #0f0f0f;
}

.bg-gray {
    background: transparent;
}

.why-choose .inside {
    background: #121212;
    box-shadow: 1px 1px 22px rgba(0, 0, 0, 0.05);
    transition: 0.1s linear all;
}

.why-choose .inside:hover {
    transform: translateY(-5px);
}

.why-choose .inside a {
    color: #fff;
}

.why-choose .inside p {
    color: rgb(209, 207, 219);
    font-size: 16px;
}

.why-choose .inside a.read-more {
    color: #FFC565;
    font-weight: normal;
    font-family: Roboto;
}

.why-choose .inside a.read-more:before {
    background-color: #FFC565;
}

.why-choose .inside i.icon-major {
    color: #FFC565;
    font-size: 8em;
    margin-bottom: 25px;
    /* text-shadow: 1px rgba(0, 0, 0, 0.25); */
}

.why-choose .inside i.icon-arrow {
    color: #FFC565;
}

.faq {
    position: relative;
    overflow: visible;
    z-index: 10;
    background: #121212;
    margin: 25% 0 25% 0;
}

.faq .container {
    margin-top: 50px;
}

.faq .stripe {
    height: 150%;
    top: -10%;
}

.title-head {
    color: #fff;
    z-index: 10;
}

.info-pricing {
    z-index: 10;
    background-color: transparent;
    box-shadow: none;
}

.info-pricing ul li h6 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}
.info-pricing ul li p {
    color: rgb(209, 207, 219);
    font-size: 16px;
}

.info-pricing ul li {
    position: relative;
    background: none;
}

.info-pricing ul li:before {
    content: '\f059';
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5em;
    color: #FFC565;
}

.about-block {
    position: relative;
    background: transparent;
    padding-top: 0;
}

.about-block .stripe {
    height: 25%;
}

.hosting-software.white li span {
    color: rgb(209, 207, 219);
}

.our-team {
    margin-bottom: 0;
}

.our-team ul li .inside {
    background: transparent;
}

.our-team ul li .name {
    color: #fff;
}

.our-team ul li span {
    color: rgb(209, 207, 219);
}

footer {
    background: transparent;
    /* border-top: 1px solid rgba(255, 255, 255, 0.1); */
    position: relative;
    z-index: 0;
    margin-top: 25%;
    padding-top: 0;
    background: #121212;
}

footer .stripe {
    height: 50%;
}

.search-domain form input {
    background: #060606;
    box-shadow: none;
    outline: 0;
    color: rgb(209, 207, 219);
    /* border-radius: 0; */
}

.search-domain form input::placeholder {
    color: rgb(209, 207, 219);
}

.search-domain form .custom-btn {
    background: #FFC565;
    color: #0f0f0f;
    font-family: Roboto;
    box-shadow: none;
    /* border-radius: 0; */
    height: 45px;
}

.search-domain form .custom-btn:hover {
    background: #FFC565;
}

.widget-footer h4 {
    font-family: Roboto;
    margin-bottom: 15px;
}

.widget-footer ul li a {
    color: rgb(209, 207, 219);
}

.widget-footer p {
    color: rgb(209, 207, 219);
}

.widget-footer .logo {
    margin-bottom: 25px;
}

.social-icon li {
    background: #FFC565;
}

.social-icon i {
    color: #0f0f0f;
}

.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: rgb(209, 207, 219);
}

.copyright p {
    color: rgb(209, 207, 219);
}

.search-domain {
    background: transparent;
}
